<header class="header">
  <div class="header-left">
    <!-- Hamburger Menü für mobile Ansicht -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()">
   
      <div class="menu" (click)="$event.stopPropagation()">
        <div class="menu-pos">
          <a routerLink="/" fragment="aboutme" (click)="closeMenu()">{{ 'ABOUT_ME' | translate }}</a>
          <a routerLink="/" fragment="skill" (click)="closeMenu()">{{ 'SKILLS' | translate }}</a>
          <a routerLink="/" fragment="projects" (click)="closeMenu()">{{ 'PROJECTS' | translate }}</a>
          <div class="lang-switch">
            <button class="lang-button" [class.active]="currentLanguage === 'en'" (click)="translate.switchLanguage('en')">EN</button>
            <button class="lang-button" [class.active]="currentLanguage === 'de'" (click)="translate.switchLanguage('de')">DE</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="header-nav">
      <div class="lang-switch">
        <button class="lang-button" [class.active]="currentLanguage === 'en'" (click)="translate.switchLanguage('en')">EN</button>
        <button class="lang-button" [class.active]="currentLanguage === 'de'" (click)="translate.switchLanguage('de')">DE</button>
      </div>

      <a routerLink="/" fragment="aboutme">{{ 'ABOUT_ME' | translate }}</a>
      <a routerLink="/" fragment="skill">{{ 'SKILLS' | translate }}</a>
      <a routerLink="/" fragment="projects">{{ 'PROJECTS' | translate }}</a>
    </nav>

    <div class="namelogo">
      <img src="/assets/img-first/namelogo.png" alt="">
    </div>
  </div>
</header>
