<header class="header">

    <div class="header-left">
       
    <!-- Hamburger Menü für mobile Ansicht -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()">
      <!-- Menü selbst, das `stopPropagation()` verwendet, damit Klicks innerhalb des Menüs es nicht schließen -->
      <div class="menu" (click)="$event.stopPropagation()">
        <div class="menu-pos">
          <a href="#aboutme" (click)="toggleMenu()">About me</a>
          <a href="#skill" (click)="toggleMenu()">Skills</a>
          <a href="#projects" (click)="toggleMenu()">Projects</a>
    
          <div class="lang-switch">
            <button class="lang-button" [class.active]="currentLanguage === 'EN'" (click)="switchLanguage('EN')">EN</button>
            <button class="lang-button" [class.active]="currentLanguage === 'DE'" (click)="switchLanguage('DE')">DE</button>
          </div>
        </div>
      </div>
    </div>


    <nav class="header-nav">
      
      <div class="lang-switch">
        <button class="lang-button" [class.active]="currentLanguage === 'EN'" (click)="switchLanguage('EN')">EN</button>
        <button class="lang-button" [class.active]="currentLanguage === 'DE'" (click)="switchLanguage('DE')">DE</button>
      </div>




        <a href="#aboutme">About me</a>
        <a href="#skill">Skills</a>
        <a href="#projects">Projects</a>
      
    </nav>

    <div class="namelogo">
        <img src="/assets/img-first/namelogo.png" alt="">
    </div>



  </div>


  <div class="name-container">
    <h2>Frontend Developer</h2>
    <h1>Hasan Korkmaz</h1>
    <div class="buttons-container">
      <a href="#projects" class="button-name">Check my work</a>
      <a href="#contact" class="button-name">Contact me</a>
    </div>
    </div>


<div class="scroll-down">
<img class="Rectangle" src="/assets/img-first/Rectangle 38.png" alt="">
<img class="line" src="/assets/img-first/Vector 1.png" alt="">
<img class="arrow-down" src="/assets/img-first/Vector 8.png" alt="">
</div>


<div class="contact-bar">
    <p>hasan.k1999&#64;outlook.de</p>
    <img class="contact-icon" src="/assets/img-first/9.Contacticons.png" alt="" >
    <img src="/assets/img-first/GitHubIcon.png" alt="">
    <img src="/assets/img-first/LinkedinIcon.png" alt="">
    <img src="/assets/img-first/Vector 2.png" alt="">
</div>



<div class="marquee-container">
    <div class="marquee">
      <span>• Available for remote work •</span>
      <span>• Frontend Developer •</span>
      <span>• Based in Augsburg •</span>
      <span>• Open to opportunities •</span>
      <span>• Available for remote work •</span>
      <span>• Frontend Developer •</span>
      <span>• Based in Augsburg •</span>
      <span>• Open to opportunities •</span>
      <span>• Available for remote work •</span>
      <span>• Frontend Developer •</span>
      <span>• Based in Augsburg •</span>
      <span>• Open to opportunities •</span>
      <span>• Available for remote work •</span>
      <span>• Frontend Developer •</span>
      <span>• Based in Augsburg •</span>
      <span>• Open to opportunities •</span>
    </div>
  </div>
  


    
  </header>


 
  
