<header class="header">

    <div class="header-left">
       
    <!-- Hamburger Menü für mobile Ansicht -->
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()">
      <!-- Menü selbst, das `stopPropagation()` verwendet, damit Klicks innerhalb des Menüs es nicht schließen -->
      <div class="menu" (click)="$event.stopPropagation()">
        <div class="menu-pos">
          <a href="#aboutme" (click)="toggleMenu()">{{ 'ABOUT_ME' | translate }}</a>
          <a href="#skill" (click)="toggleMenu()">{{ 'SKILLS' | translate }}</a>
          <a href="#projects" (click)="toggleMenu()">{{ 'PROJECTS' | translate }}</a>
          <div class="lang-switch">
            <button class="lang-button" [class.active]="currentLanguage === 'en'" (click)="translate.switchLanguage('en')">EN</button>
            <button class="lang-button" [class.active]="currentLanguage === 'de'" (click)="translate.switchLanguage('de')">DE</button>
          </div>
        </div>
      </div>
    </div>


    <nav class="header-nav">
      
      <div class="lang-switch">
        <button class="lang-button" [class.active]="currentLanguage === 'en'" (click)="translate.switchLanguage('en')">EN</button>
        <button class="lang-button" [class.active]="currentLanguage === 'de'" (click)="translate.switchLanguage('de')">DE</button>
      </div>




        <a href="#aboutme">{{ 'ABOUT_ME' | translate }}</a>
        <a href="#skill">{{ 'SKILLS' | translate }}</a>
        <a href="#projects">{{ 'PROJECTS' | translate }}</a>
      
    </nav>

    <div class="namelogo">
        <img src="/assets/img-first/namelogo.png" alt="">
    </div>



  </div>


  

    
  </header>


 
  
