.header {
 background-color: transparent;
 width: 100%; /* Verwende 100% der Breite */
 max-width: 1920px; /* Optional: Maximalbreite, um es zu begrenzen */

 margin: 0 auto; /* Zentriert den Inhalt horizontal */
}

.header-left {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px; /* Ermöglicht das Umbruchverhalten bei kleineren Bildschirmen */
  padding-right: 80px;
  padding-left: 80px;
}


.namelogo img{
    background-color: transparent; /* Sicherstellen, dass der Hintergrund des Images transparent ist */
    border: none;
    width: 100px; /* Optional, falls du das Bild skalieren möchtest */
    height: 100px;/* Optional, falls du das Bild skalieren möchtest */
  }

.header-nav {
    font-family: "Fira Code", monospace;
    font-size: 20px;
    display: flex;
  
    > a {
      margin-left: 24px;
      text-decoration: none;
      color: #FFFFFF;
      position: relative; /* Wichtig, damit das ::after-Element korrekt positioniert werden kann */
      padding-bottom: 5px; /* Platz schaffen für den Punkt */
    }
  
    > a::after {
      content: ''; /* Leerer Inhalt für den Punkt */
      position: absolute;
      left: 50%; /* Zentriere den Punkt */
      bottom: 0; /* Positioniere den Punkt unten am Link */
      transform: translateX(-50%); /* Um den Punkt genau unter den Text zu platzieren */
      width: 5px; /* Breite des Punktes */
      height: 5px; /* Höhe des Punktes */
      border-radius: 50%; /* Runde Form, um einen Punkt zu erstellen */
      background-color: #3DCFB6; /* Farbe des Punktes */
      opacity: 0; /* Punkt ist standardmäßig unsichtbar */
      transition: opacity 0.3s ease, transform 0.3s ease; /* Sanfte Animation für das Einblenden */
    }
  
    > a:hover::after {
      opacity: 1; /* Punkt wird beim Hover sichtbar */
      transform: translateX(-50%) translateY(5px); /* Bewegt den Punkt sanft nach oben */
    }
  }
  

// Language switch button 

.lang-switch {
  height: 28px;
  width: 80px;
  display: flex; /* Flexbox für die horizontale Ausrichtung */
  border: 1px solid #3DCFB6; /* Rahmenfarbe */
  border-radius: 30px; /* Nur der Container hat eine Rundung */
  
  padding-left: -20px;
  margin: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  transition: 0.3s ease-in-out; /* Keine zusätzliche Hintergrundfarbe */
}

.lang-switch:hover {
  border: 1px solid #fff;
}

.lang-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: -1px;
  flex: 1; /* Jeder Button nimmt gleich viel Platz ein */
  text-align: center;
  font-size: 0.8em;
  color: #3DCFB6;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
 
 
}

.lang-button:hover {

}

/* Aktiver Button */
.lang-button.active {
  background-color: #3DCFB6; /* Grün für den aktiven Button */
  color: #fff;
  font-weight: 700;/* Textfarbe für den aktiven Button */
}

/* Entferne Umrandungen und Box-Schatten */
.lang-button:focus,
.lang-button:active {
  outline: none;
  box-shadow: none;
}




  // Ende button


  

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}


.hamburger span {
  display: flex;
  align-items: flex-start;
  height: 2px;
  width: 35px;
  background-color: #3DCFB6;
  margin: 4px 0;
  transition: 0.3s;
}









@media (max-width: 850px) {
.header-left {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px; /* Ermöglicht das Umbruchverhalten bei kleineren Bildschirmen */
  padding-right: 50px;
  padding-left: 50px;
}




}

.menu {
  display: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 220px;
  height: 250px;
  background-image: url('/assets/img-first/1Background.svg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  border: 1px solid #3DCFB6;
  position: absolute;
  right: 5%;
  top: 60px;

 
 

}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6); /* Über allem anzeigen */
}

.menu-pos {
  display: none;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

  > a {
    font-family: "Fira Code", monospace;
    font-size: 20px;
    font-weight: 300;
    text-align: start;
    margin-left: 0;
    text-decoration: none;
    color: #FFFFFF;
   
    margin-bottom: 25px; /* Platz schaffen für den Punkt */
  }
}


@media (max-width: 790px) {
  .header-nav {
    font-family: "Fira Code", monospace;
    font-size: 20px;
    display: none;
    

  }

  .header-left {
    padding-left: 10px;
    padding-right: 10px;
  }

 



  .hamburger {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu{
    display: flex;
  }

  .menu-pos {
    display: flex;
   }


   
}

@media (max-width: 650px) {
  
  .menu {
    right: 10%;
  }


  

}

@media (max-width: 520px) {
  
}


@media (max-width: 440px) {
 

  .menu {
    right: 10%;
    width: 200px;
  }

  
}
