<section class="about_me">
  <div class="profilpicture">
    <img src="/assets/img-aboutme/placeholder.webp" alt="">
  </div>

  <div class="my_description">
    <p>{{ 'WHO_I_AM' | translate }}</p>
    <div class="who_am_i">
      <h1>{{ 'ABOUT_ME' | translate }}</h1>
      <p>{{ 'ABOUT_ME_DESCRIPTION' | translate }}</p>

      <div class="first_sections">
        <img src="/assets/img-aboutme/location_icon.png" alt="">
        <span>{{ 'LOCATION_FLEXIBILITY' | translate }}</span>
      </div>

      <div class="three_sections">
        <img src="/assets/img-aboutme/headcognition.png" alt="">
        <span>{{ 'OPEN_MINDED' | translate }}</span>
      </div>

      <div class="three_sections">
        <img src="/assets/img-aboutme/check (2).png" alt="">
        <span>{{ 'PROBLEM_SOLVING' | translate }}</span>
      </div>
    </div>
  </div>
</section>
