<section class="about_me">
<div class="profilpicture">
    <img src="/assets/img-aboutme/placeholder.webp" alt="">
</div>


<div class="my_description">
<p>Who I Am </p>
   <div class="who_am_i">
    <h1>About me</h1>
    <p>Hi, I’m a german speaking Frontend Developer based in Munich. Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications.</p>

      <div class="first_sections">
        <img src="/assets/img-aboutme/location_icon.png" alt="">    
        <span>Flexible in terms of working environments, I can work effectively both on-site in Munich and remotely.</span>
       </div>


       <div class="three_sections">
        <img src="/assets/img-aboutme/headcognition.png" alt="">    
        <span>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</span>
       </div>


       <div class="three_sections">
        <img src="/assets/img-aboutme/check (2).png" alt="">    
        <span>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.</span>
       </div>
        
   </div>





</div>


</section>
