.about_me {
   
    background-color: #1C1C1C;
    height: 750px;
    width: 100%; /* Verwende 100% anstelle einer festen Breite */
    max-width: 1920px; /* Optional, um eine maximale Breite festzulegen */
   
    margin: 0 auto; /* Zentriert den Inhalt */
  
    
    display: flex;
    justify-content: space-around;
}

.profilpicture {
    margin-top: 50px;
    >img {
        height: 500px;
        width: 500px;
        border-radius: 20px;
    }
}

.who_am_i {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 460px;
    width: 480px;
    background-color: rgba($color: #0e3931, $alpha: 0.6) ;
    border-radius: 20px;
    border: 1px solid #3DCFB6;
   

    >h1 {
        color: #3DCFB6;
        font-size: 44px;
        font-family: "Fira Code", monospace;
        margin: 0;
        white-space: nowrap;
    }

    >p {
        color: white;
        font-family: "Karla", sans-serif;
        margin-bottom: 30px;
    }

   
}

.my_description {
    margin-top: 150px;

    >p {
        font-family: "Karla", sans-serif;
        color: #3DCFB6;
        font-size: 24px;
    }
}

.three_sections {
display: flex;
align-items: flex-start;
margin-bottom: 20px;

    >span {
        color: rgb(212, 211, 211);
        font-family: "Karla", sans-serif;
    }

    >span:hover {
        color: white;
    }

    >img {
        margin-right: 20px;
    }
}

.first_sections {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;


    >span {
        color: rgb(212, 211, 211);
        font-family: "Karla", sans-serif;
    }

    >span:hover {
        color: white;
    }

    >img {
        margin-right: 13px;
    }
}



@media (max-width: 1210px) {
    .about_me {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 1200px;
    }

    .my_description {
        margin-top: 80px;
    }

    .profilpicture {
        margin-top: 100px;
        >img {
            height: 450px;
            width: 450px;
            border-radius: 20px;
        }
    }
}



@media (max-width: 550px) {
.who_am_i {
    padding: 20px;
     height: 630px;
     width: 320px;

}

.profilpicture {
    margin-top: 100px;
    >img {
        height: 350px;
        width: 350px;
        border-radius: 20px;
    }
}

.about_me {
    flex-direction: column;
    align-items: center;
    height: 1200px;
}

}


@media (max-width: 430px) {
    .about_me {
        flex-direction: column;
        align-items: center;
        height: 900px;
    }

    .who_am_i {
        padding: 20px;
         height: 740px;
         width: 270px;
    
    }
    
    .profilpicture {
        margin-top: 100px;
        >img {
            height: 300px;
            width: 300px;
            border-radius: 20px;
        }
    }
    
}

@media (max-width: 360px) {

    .about_me {
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }



    .who_am_i {
        padding: 20px;
         height: auto;
         width: 230px;

         >h1 {
            font-size: 34px;
         }
  
    }
    
    .profilpicture {
        margin-top: 100px;
        >img {
            height: 280px;
            width: 280px;
            border-radius: 20px;
        }
    }
    
}