<footer>

    <div class="all-divs">
  
      <div class="left-div">
        <img src="/assets/img-first/namelogo.png" alt="">
        <span>{{ 'WEB_DEVELOPER' | translate }}</span>
        <span>{{ 'LOCATION' | translate }}</span>
      </div>
  
      <div class="middle-div">
        <span>© Hasan Korkmaz 2024</span>
      </div>
  
      <div class="right-div">
        <a href="https://github.com/hasankorkmaz1999" target="_blank">GitHub </a>
        <a href="#">LinkedIn</a>
        <a href="#">Email</a>
        <a routerLink="/legal-notice">{{ 'LEGAL_NOTICE' | translate }}</a> <!-- Link zur Legal Notice -->
      </div>
  
    </div>
  
  </footer>
  