<app-header></app-header>

<div class="legal-notice-container">
    <h1>{{ 'LEGAL_NOTICE_TITLE' | translate }}</h1>

    <h2>{{ 'LEGAL_NOTICE_SECTION1_TITLE' | translate }}</h2>
    <p>
        {{ 'LEGAL_NOTICE_PERSONAL_INFO.NAME' | translate }}<br>
        {{ 'LEGAL_NOTICE_PERSONAL_INFO.PROFESSION' | translate }}<br>
        {{ 'LEGAL_NOTICE_PERSONAL_INFO.LOCATION' | translate }}
    </p>

    <h3>{{ 'LEGAL_NOTICE_CONTACT.TITLE' | translate }}</h3>
    <p>
        {{ 'LEGAL_NOTICE_CONTACT.PHONE' | translate }}<br>
        {{ 'LEGAL_NOTICE_CONTACT.EMAIL' | translate }}
    </p>

    <h3>{{ 'LEGAL_NOTICE_DISCLAIMER.TITLE' | translate }}</h3>
    <p>
        <span class="section-title">{{ 'LEGAL_NOTICE_DISCLAIMER.CONTENT.SECTION_TITLE' | translate }}</span>
        {{ 'LEGAL_NOTICE_DISCLAIMER.CONTENT.TEXT1' | translate }}
    </p>
    <p>
        {{ 'LEGAL_NOTICE_DISCLAIMER.CONTENT.TEXT2' | translate }}
    </p>

    <h3>{{ 'LEGAL_NOTICE_LINKS.TITLE' | translate }}</h3>
    <p>
        {{ 'LEGAL_NOTICE_LINKS.TEXT1' | translate }}
    </p>
    <p>
        {{ 'LEGAL_NOTICE_LINKS.TEXT2' | translate }}
    </p>

    <h3>{{ 'LEGAL_NOTICE_COPYRIGHT.TITLE' | translate }}</h3>
    <p>
        {{ 'LEGAL_NOTICE_COPYRIGHT.TEXT1' | translate }}
    </p>
    <p>
        {{ 'LEGAL_NOTICE_COPYRIGHT.TEXT2' | translate }}
    </p>

    <button (click)="goBack()">{{ 'LEGAL_NOTICE_BACK_BUTTON' | translate }}</button>
</div>
