<section>

    <div class="contact">

        <div class="left-section">
         <h2>Contact me</h2>
         <h1>Let's work <br> together</h1>
         <h3>Got a problem to solve?</h3>
         <span> 
            Contact me through this form, I am interested in hearing from you, knowing <br> your ideas and contributing to your projects with my work.
         </span>
         <p>Need a Frontend developer? <span class="letstalk"> Let’s talk!</span></p>
        </div>


        <div class="right-section">

            <div class="first_section">
              <div class="input-section"> 
                <span>What's your name?</span>
                <div class="textarea-wrapper">
                  <textarea class="resizable-textarea" placeholder="Your name goes here" (input)="autoResize($event)"></textarea>
                  <img *ngIf="showCheckmark" src="/assets/img-contact/check(1).png" class="checkmark" (click)="stopInput()" alt="Stop Input">
                </div>
              </div>
            </div>
          
            <div class="second_section">
              <div class="input-section"> 
                <span>What's your email?</span>
                <div class="textarea-wrapper">
                  <textarea class="resizable-textarea" placeholder="youremail@email.com" (input)="autoResize($event)"></textarea>
                  <img *ngIf="showCheckmark" src="/assets/img-contact/check(1).png" class="checkmark" (click)="stopInput()" alt="Stop Input">
                </div>
              </div>
            </div>
          
            <div class="third_section">
              <div class="input-section"> 
                <span>How can I help you?</span>
                <div class="textarea-wrapper">
                  <textarea class="resizable-textarea" placeholder="Hello Hasan, I am interested in..." (input)="autoResize($event)"></textarea>
                  <img *ngIf="showCheckmark" src="/assets/img-contact/check(1).png" class="checkmark" (click)="stopInput()" alt="Stop Input">
                </div>
              </div>
            </div>




            <div class="privacy-container">
                <label class="checkbox-label">
                    <input type="checkbox" id="privacy-checkbox">
                    <span class="custom-checkbox"></span>
                    I've read the <a href="#" class="privacy-link">privacy policy</a> and agree to the processing of my data as outlined.
                </label>
                <button class="submit-btn">Say Hello ;)</button>
            </div>


            
          </div>

        </div>
          
</section>

