<section class="oversection">
<section class="abovethefold">
    <app-header></app-header>
<div class="name-container">
    <h2>{{ 'FRONTEND_DEVELOPER' | translate }}</h2>
    <h1>{{ 'HASAN_KORKMAZ' | translate }}</h1>
    <div class="buttons-container">
      <a href="#projects" class="button-name">{{ 'CHECK_MY_WORK' | translate }}</a>
      <a href="#contact" class="button-name">{{ 'CONTACT_ME' | translate }}</a>
    </div>
    </div>


<div class="scroll-down">
<img class="Rectangle" src="/assets/img-first/Rectangle 38.png" alt="">
<img class="line" src="/assets/img-first/Vector 1.png" alt="">
<img class="arrow-down" src="/assets/img-first/Vector 8.png" alt="">
</div>


<div class="contact-bar">
  <p>hasan.k1999&#64;outlook.de</p>

  <!-- Verwende einen Container um das Bild -->
  <div class="img-container">
      <img class="contact-icon" src="/assets/img-first/9.Contacticons.png" alt="">
  </div>
  <div class="img-container">
    <a href="https://github.com/hasankorkmaz1999" target="_blank">
        <img src="/assets/img-first/GitHubIcon.png" alt="GitHub">
    </a>
</div>
<div class="img-container">
  <a href="https://www.linkedin.com/in/hasan-korkmaz-41a473334/" target="_blank">
      <img src="/assets/img-first/LinkedinIcon.png" alt="GitHub">
  </a>
</div>
  <div class="img-container">
      <img src="/assets/img-first/Vector 2.png" alt="">
  </div>
</div>



<div class="marquee-container">
    <div class="marquee">
      <span>• {{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }} •</span>
      <span>• {{ 'FRONTEND_DEVELOPER' | translate }} •</span>
      <span>• {{ 'BASED_IN_AUGSBURG' | translate }} •</span>
      <span>• {{ 'OPEN_TO_OPPORTUNITIES' | translate }} •</span>
      <span>• {{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }} •</span>
      <span>• {{ 'FRONTEND_DEVELOPER' | translate }} •</span>
      <span>• {{ 'BASED_IN_AUGSBURG' | translate }} •</span>
      <span>• {{ 'OPEN_TO_OPPORTUNITIES' | translate }} •</span>
      <span>• {{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }} •</span>
      <span>• {{ 'FRONTEND_DEVELOPER' | translate }} •</span>
      <span>• {{ 'BASED_IN_AUGSBURG' | translate }} •</span>
      <span>• {{ 'OPEN_TO_OPPORTUNITIES' | translate }} •</span>
      <span>• {{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }} •</span>
      <span>• {{ 'FRONTEND_DEVELOPER' | translate }} •</span>
      <span>• {{ 'BASED_IN_AUGSBURG' | translate }} •</span>
      <span>• {{ 'OPEN_TO_OPPORTUNITIES' | translate }} •</span>
      <span>• {{ 'AVAILABLE_FOR_REMOTE_WORK' | translate }} •</span>
      <span>• {{ 'FRONTEND_DEVELOPER' | translate }} •</span>
      <span>• {{ 'BASED_IN_AUGSBURG' | translate }} •</span>
      <span>• {{ 'OPEN_TO_OPPORTUNITIES' | translate }} •</span>
    </div>
  </div>
  

</section>

</section>