section {
    background-color: #1C1C1C;
    height: 900px;
    width: 100%; /* Verwende 100% anstelle einer festen Breite */
    max-width: 1920px; /* Optional, um eine maximale Breite festzulegen */
   
    margin: 0 auto; /* Zentriert den Inha justify-content: space-around;lt */
  display: flex;
 justify-content: flex-start;
 align-items: center;
}


.featured-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8vw;
    
   

    >h2 {
        font-family: "Karla", sans-serif;
        color: #3DCFB6;
        margin-top: 0;
        font-size: 24px;
        line-height: 28.06px;
    }

    >h1 {
        font-family: "Fira Code", monospace;
        font-size: 54px;
        color: #3DCFB6;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    >span {
        line-height: 21.6px;
        color: white;
        word-spacing: 4px;
        font-size: 18px;
        font-family: "Karla", sans-serif;
        text-align: justify;
        margin-bottom: 50px;
    }
}

.spanne {
    width: 500px;
}


.join {
    padding: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    transition: 125ms;
    border-top: 2px solid #3DCFB6; /* Obere Border */
    border-bottom: 2px solid #3DCFB6; /* Untere Border */
    border-left: none; /* Keine linke Border */
    border-right: none; /* Keine rechte Border */
   /* Notwendig für das Positionieren des Bildes */
}

.joiner {
    display: flex;
    align-items: center;

    > p {
        font-family: "Fira Code", monospace;
        font-size: 24px;
        color: white;
    }

    > img {
        margin-left: 10px;
        opacity: 0; /* Bild ist standardmäßig unsichtbar */
        transition: opacity 0.3s ease; /* Sanfter Übergang beim Einblenden */
    }
}

/* Hover-Effekt auf die gesamte .join-Klasse anwenden */
.join:hover .joiner > img {
    opacity: 1; /* Bild wird sichtbar beim Hover auf .join */
}

.join:hover {
    background-color: rgb(39, 68, 63);
    cursor: pointer; /* Stelle sicher, dass die Farbe korrekt ist */
}

.languages {

    > span {
        margin: 3px;
        color: white; /* Die Wörter bleiben weiß */
        font-family: "Karla", sans-serif;
        font-size: 18px;
    }

    .separator {
        color: #3DCFB6; /* Grüne Farbe für das | Symbol */
    }
}



.el-pollo-loco {
    padding: 10px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    transition: 125ms;
   
    border-bottom: 2px solid #3DCFB6; /* Untere Border */
    border-left: none; /* Keine linke Border */
    border-right: none; /* Keine rechte Border */
   /* Notwendig für das Positionieren des Bildes */
}

.pollo {
    display: flex;
    align-items: center;

    > p {
        font-family: "Fira Code", monospace;
        font-size: 24px;
        color: white;
    }

    > img {
        margin-left: 10px;
        opacity: 0; /* Bild ist standardmäßig unsichtbar */
        transition: opacity 0.3s ease; /* Sanfter Übergang beim Einblenden */
    }
}

/* Hover-Effekt auf die gesamte .join-Klasse anwenden */
.el-pollo-loco:hover .pollo 
> img {
    opacity: 1; /* Bild wird sichtbar beim Hover auf .join */
}

.el-pollo-loco:hover {
    background-color: rgb(39, 68, 63);
    cursor: pointer; /* Stelle sicher, dass die Farbe korrekt ist */
}

.languages {

    > span {
        margin: 3px;
        color: white; /* Die Wörter bleiben weiß */
        font-family: "Karla", sans-serif;
        font-size: 18px;
    }

    .separator {
        color: #3DCFB6; /* Grüne Farbe für das | Symbol */
    }
}






.portfolio {
    padding: 10px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    transition: 125ms;
    
    border-bottom: 2px solid #3DCFB6; /* Untere Border */
    border-left: none; /* Keine linke Border */
    border-right: none; /* Keine rechte Border */
   /* Notwendig für das Positionieren des Bildes */
}

.port {
    display: flex;
    align-items: center;

    > p {
        font-family: "Fira Code", monospace;
        font-size: 24px;
        color: white;
    }

    > img {
        margin-left: 10px;
        opacity: 0; /* Bild ist standardmäßig unsichtbar */
        transition: opacity 0.3s ease; /* Sanfter Übergang beim Einblenden */
    }
}

/* Hover-Effekt auf die gesamte .join-Klasse anwenden */
.portfolio:hover .port > img {
    opacity: 1; /* Bild wird sichtbar beim Hover auf .join */
}

.portfolio:hover {
    background-color: rgb(39, 68, 63);
    cursor: pointer; /* Stelle sicher, dass die Farbe korrekt ist */
}

.languages {

    > span {
        margin: 3px;
        color: white; /* Die Wörter bleiben weiß */
        font-family: "Karla", sans-serif;
        font-size: 18px;
    }

    .separator {
        color: #3DCFB6; /* Grüne Farbe für das | Symbol */
    }
}




.projects-div {
    display: flex;
    flex-direction: row;  /* Flexbox für horizontale Ausrichtung */
    justify-content: space-between; /* Optional: Abstand zwischen den beiden Containern */
    align-items: flex-start; /* Optional: Vertikale Ausrichtung */
   /* Stelle sicher, dass die Breite 100% beträgt */
}

.all-projects {
    display: flex;
    flex-direction: column; /* Projekte sollen untereinander angeordnet werden */
    /* Optional: Steuere die Breite des Containers */
}

.img-projects {
    display: flex;
    flex-direction: column; /* Bilder sollen untereinander angeordnet werden */
  /* Optional: Steuere die Breite des Containers */
    margin-left: 70px; /* Abstand zwischen den beiden Containern */
   /* Ausrichtung von Inhalten am Anfang */
}


.joinimg {
  position: absolute;
  margin-top: 30px;
    transition: opacity 0.3s ease; /* Sanfter Übergang */
}


.polloimg {
   position: absolute;
   margin-top: 100px;
    transition: opacity 0.3s ease; /* Sanfter Übergang */
}





.portfolio-wrapper {
   margin-top: 40px;
}

.portfolio-background {
    background-image: url('/assets/img-projects/Capa_1.png');
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    height: 182px; /* Höhe des Hintergrundbildes */
    width: 290px;  /* Breite des Hintergrundbildes */
    border-radius: 16px;
    opacity: 0; /* Unsichtbar, bis es sichtbar gemacht wird */
    transition: opacity 0.3s ease; /* Sanfter Übergang */
    z-index: 1;
    margin-top: 160px;
    margin-left: 26px;
}

.portfolioimg {
    position: relative;
    border: 1px solid rgb(78, 77, 77);
    height: 192px;
    width: 296px;
    z-index: 2;
    border-radius: 16px;
    transition: opacity 0.3s ease;
    margin-top: 130px;
}

/* Wenn das portfolioimg sichtbar ist, wird auch das Hintergrundbild eingeblendet */
.portfolio-wrapper.is-visible .portfolio-background {
    opacity: 1; /* Hintergrundbild wird eingeblendet */
}

// modal style

/* Modal Hintergrund */
.modal {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Hintergrund-Dim */
}

/* Modal-Inhalt */
.modal-content {
   
    background-image: url('/assets/img-first/1Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
        margin: auto;
       padding: 50px;
        border: 1px solid #3DCFB6;
        width:  90%;
        max-width: 1420px;
       
        height: 600px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }

    


.contentinmodal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
   
  
   
    width: 100%;
   
    height: 600px;
}



    .left-modal {
 width: 480px;
    >h1 {
        font-family: "Karla", sans-serif;
        font-size: 128px;
        margin: 0;
        font-weight: 700;
        color: #3DCFB6;
    }

    >h2 {
        margin: 0;
        font-family: "Fira Code", monospace;
        font-size: 64px;
        color: white;
        font-weight: 700;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    >h3 {
        margin: 0;
        font-family: "Fira Code", monospace;
        font-size: 34px;
        color: #3DCFB6;
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 30px;
    }

    >span {
        font-family: "Karla", sans-serif;
        font-size: 18px;
        
        font-weight: 400;
        color: white;
    }
}


.images-lang {
    display: flex;
    align-items: center;
    margin-top: 30px;
     >p {
        font-family: "Karla", sans-serif;
        font-size: 16px;
        margin-right: 20px;
        font-weight: 400;
        color: white;
     }

     >img {
        margin-right: 5px;
     }
}

.button-container {
    display: flex;
    justify-content: flex-start; /* Buttons werden von links ausgerichtet */
    align-items: center;
    
    >a {
        text-decoration: none;
    }
        /* Vertikal zentrieren */
}


.button-name {
    margin-top: 40px;
    margin-right: 30px;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    padding: 15px;
    width: 142px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease; /* Übergang für sanfte Animation */
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Inhalte horizontal zentrieren */
    align-items: center;
    flex-direction: row; /* Inhalte vertikal zentrieren */
}

.button-name img {
    margin-left: 9px; /* Abstand zwischen Text und Bild */
    transition: transform 0.3s ease; 
}


.button-name:hover {
    cursor: pointer;
    border: 1px solid #3DCFB6;
    color: #3DCFB6;
    transition: transform 0.3s ease; 
   
}

.button-name:hover img {
    transform: translate(6px, -3px); /* Bild 5px nach rechts und 5px nach oben verschieben */
}


.right-section {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    >img {
     
        width: 520px;
        height: 369px;
        border-radius: 30px;
        margin-bottom: 70px;
    }
}

.portimg {
    border: 1px solid #3DCFB6;
}



/* Schließen-Button */
.close {
   margin-bottom: 70px;
    color: #aaa;
    float: right;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    transform: scale(1.3);
  color: #3DCFB6;
    text-decoration: none;
    cursor: pointer;
}

.next-project {
    display: flex;
    align-items: center;
    justify-content: center;

    >span {
       font-family: "Karla", sans-serif;
        font-size: 18px;
        margin-right: 10px;
        color: #3DCFB6;
        transition: transform 0.3s ease;
    }

    >img {
        transition: transform 0.3s ease;
    }


  
}


.next-project:hover {

    cursor: pointer;
    >span {
        color: white;
    }


    >img {
        transform: translateX(10px); 
    }
}














@media (max-width: 1320px) {

    .right-section {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        >img {
         
            width: 420px;
            height: 269px;
            border-radius: 30px;
            margin-bottom: 70px;
        }
    }

    .contentinmodal {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
       
       
       
        width: 100%;
       
        height: 500px;
    }
    



    .left-modal {
        width: 480px;
           >h1 {
               font-family: "Karla", sans-serif;
               font-size: 108px;
               margin: 0;
               font-weight: 700;
               color: #3DCFB6;
           }
       
           >h2 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 54px;
               color: white;
               font-weight: 700;
               margin-bottom: 20px;
               white-space: nowrap;
           }
       
           >h3 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 24px;
               color: #3DCFB6;
               font-weight: 700;
               white-space: nowrap;
               margin-bottom: 30px;
           }
       
           >span {
               font-family: "Karla", sans-serif;
               font-size: 18px;
               
               font-weight: 400;
               color: white;
           }
       }

       .modal-content {
        height: 500px;
        width: 85%;
       }
       
}


@media (max-width: 1125px) {
    .right-section {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        >img {
         
            width: 320px;
            height: 240px;
            border-radius: 30px;
            margin-bottom: 70px;
        }
    }


    .left-modal {
        width: 480px;
           >h1 {
               font-family: "Karla", sans-serif;
               font-size: 88px;
               margin: 0;
               font-weight: 700;
               color: #3DCFB6;
           }
       
           >h2 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 54px;
               color: white;
               font-weight: 700;
               margin-bottom: 20px;
               white-space: nowrap;
           }
       
           >h3 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 24px;
               color: #3DCFB6;
               font-weight: 700;
               white-space: nowrap;
               margin-bottom: 30px;
           }
       
           >span {
               font-family: "Karla", sans-serif;
               font-size: 16px;
             
               font-weight: 400;
               color: white;
           }
       }

      
}


@media (max-width: 980px) {
.modal-content {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 950px;
    width: 60%;
}

.contentinmodal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    margin: auto;
   
   
   
    width: 100%;
   
    height: 800px;
}


.right-section {
    >img {
        margin-bottom: 10px;
        width: 470px;
        height: 309px;
        margin-top: 30px;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
   
}

.next-project {
    position: absolute;
    bottom: 30px;
    right: 20px;
}



.button-container {
    display: flex;
    justify-content: center;
}
}



@media (max-width: 710px) {
    .modal-content{
width: 80%;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
       
    }
    
    .next-project {
        position: absolute;
        bottom: 30px;
        right: 20px;
    }
}



@media (max-width: 590px) {



    .modal-content{
       
width: 75%;
    }

    .right-section {
        >img {
            margin-bottom: 10px;
            width: 470px;
            height: 309px;
            margin-top: 0px;
        }
    }
}

@media (max-width: 590px) {
    .modal-content{
width: 75%;

    }

    .right-section {
        >img {
            margin-bottom: 10px;
            width: 370px;
            height: 259px;
            margin-top: 0px;
        }
    }
    
    .left-modal {
        width: 370px;

        >h2 {
            font-size: 44px;
        }

        >h3 {
            white-space: wrap;
           
            font-size: 24px;
        }
    }

}

@media (max-width: 490px) {

    .left-modal {
        
           >h1 {
               font-family: "Karla", sans-serif;
               font-size: 88px;
               margin: 0;
               font-weight: 700;
               color: #3DCFB6;
           }
       
           >h2 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 44px;
               color: white;
               font-weight: 700;
               margin-bottom: 20px;
               white-space: nowrap;
           }
       
           >h3 {
               margin: 0;
               font-family: "Fira Code", monospace;
               font-size: 20px;
               color: #3DCFB6;
               font-weight: 700;
            
               margin-bottom: 30px;
               
                white-space: wrap;
               
                font-size: 24px;
            
           }
       
           >span {
               font-family: "Karla", sans-serif;
               font-size: 16px;
             
               font-weight: 400;
               color: white;
           }
       }


       .images-lang {
        width: 300px;
        flex-wrap: wrap;
       }
}


@media (max-width: 458px) {
    .modal-content{
width: 65%;

    } 

    .right-section {
        >img {
            margin-bottom: 10px;
            width: 320px;
            height: 259px;
            margin-top: 0px;
        }
    }

    .left-modal {
        width: 320px;


        >h2 {
            font-size: 34px;
        }
    }


    .close {
        position: absolute;
        top: 20px;
        right: 30px;
       
    }

    .button-name {
        flex-wrap: nowrap;
    }

    .button-container {
        width: 340px;
    }
    
    
}


@media (max-width: 380px) {
    .left-modal {
        width: 290px;
        >h3 {
            font-size: 18px;
        }
    }

    .right-section {
        >img {
            width: 300px;
            height: 239px;
        }
    }

    .button-name {
        flex-wrap: nowrap;
        padding: 5px;
    }

    .button-container {
        width: 310px;
    }
}


@media (max-width: 360px) {

    .modal-content{
        width: 62%;
        
            } 
    .left-modal {
        width: 270px;
        >h3 {
            width: 220px;
            white-space: wrap;
            font-size: 18px;
        }
    }

    .right-section {
        >img {
            width: 270px;
            height: 239px;
        }
    }

    .button-name {
        flex-wrap: nowrap;
        padding: 5px;
        width: 120px;
    }

    .button-container {
        width: 300px;
    }
}














@media (max-width: 1360px) {
    .join, .el-pollo-loco, .portfolio {
    width: 600px;
    }
}

@media (max-width: 1210px) {
    .join, .el-pollo-loco, .portfolio {
    width: 700px;
    }

    .featured-projects {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       margin-left: 0vw;
    }    

    .projects-div {
        display: flex;
        flex-direction: row;  /* Flexbox für horizontale Ausrichtung */
        justify-content: space-between; /* Optional: Abstand zwischen den beiden Containern */
        align-items: center; /* Optional: Vertikale Ausrichtung */
       /* Stelle sicher, dass die Breite 100% beträgt */
    }

    section {
        background-color: #1C1C1C;
        height: 700px;
        width: 100%; /* Verwende 100% anstelle einer festen Breite */
        max-width: 1920px; /* Optional, um eine maximale Breite festzulegen */
       
        margin: 0 auto; /* Zentriert den Inha justify-content: space-around;lt */
      display: flex;
     justify-content: center;
     align-items: center;
    }

    .img-projects {
        display: none;
    }
}

@media (max-width: 820px) {
    .join, .el-pollo-loco, .portfolio {
        width: 530px;
        }

        .featured-projects {
            
            >h1 {
                font-size: 40px;
             
            }
        }

        section {
            background-color: #1C1C1C;
            height: 900px;
        }
}

@media (max-width: 655px) {

    section {
        background-color: #1C1C1C;
        height: 900px;
    }
}


@media (max-width: 605px) {

    section {
        background-color: #1C1C1C;
        height: 700px;
    }


    .join, .el-pollo-loco, .portfolio {
        padding-left: 0px;
        width: 330px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

      
        }

        .joiner, .pollo, .port  {
            display: flex;
            align-items: center;
        
            > p {
                margin-top: 0px;
                margin-bottom: 5px;
                font-family: "Fira Code", monospace;
                font-size: 24px;
                color: white;
            }
        }

     


        .featured-projects {

                >h1 {
                  font-size: 30px;
                  width: 200px;
                }

                >h2 {
                    margin-bottom: 1px;
                }


           > span {
               width: 300px;
               line-height: 25px;
               color: white;
               word-spacing: 3px;
               font-size: 18px;
               font-family: "Karla", sans-serif;
              
               margin-bottom: 50px;
           }
           
                
        }

        .spanne {
            word-spacing: 0px;
        }

       
        
}


@media (max-width: 435px) {
    .join, .el-pollo-loco, .portfolio {
        padding-left: 0px;
        width: 250px;
        height: 100px;
    }

    .featured-projects {
        width: 250px;
        >h1 {
            font-size: 30px;
               width: 200px;
             }


        > span {
            width: 250px;
            line-height: 25px;
            color: white;
            word-spacing: 3px;
            font-size: 16px;
            font-family: "Karla", sans-serif;
           
            margin-bottom: 20px;
        }
    }

    .languages {
        >span {
            font-size: 15px;
            
        }
    }

    section {
        background-color: #1C1C1C;
        height: 600px;
    }
        
}


