<section class="skill-set">

    <div class="comp-section">
        <div class="left-section">  
          <p>{{ 'TECHNOLOGIES' | translate }}</p>
          <div class="technologies">
              <h1>{{ 'SKILL_SET' | translate }}</h1>
      
              <p>
                  {{ 'SKILL_SET_DESCRIPTION' | translate }}
              </p>
      
              <h2>
                  <span class="white-text">{{ 'NEED_ANOTHER_SKILL_QUESTION' | translate }}</span> 
                  <span class="green-text">{{ 'ANOTHER_SKILL' | translate }}</span>
              </h2>
      
              <span>
                  {{ 'CONTACT_ME_PROMPT' | translate }}
              </span>
      
              <a href="#contact" class="button-name">{{ 'LETS_TALK' | translate }}</a>
          </div>
      

</div>  


<div class="right-section">


<div class="skills">

        <img src="/assets/img-skillset/Property 1=HTML.png" alt="">
        <p>HTML</p>
        
</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=CSS.png" alt="">
<p>CSS</p>

</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=JavaScript.png" alt="">
<p>JavaScript</p>

</div>


<div class="skillsmaterial">

<img src="/assets/img-skillset/Property 1=Material Design.png" alt="">
<p>Material Design</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=TypeScript.png" alt="">
<p>TypeScript</p>

</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=Angular.png" alt="">
<p>Angular</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=Firebase.png" alt="">
<p>Firebase</p>

</div>



<div class="skills">

<img src="/assets/img-skillset/Property 1=Git.png" alt="">
<p>GIT</p>

</div>




<div class="skills">

<img src="/assets/img-skillset/Property 1=Rest-Api.png" alt="">
<p>Rest-Api</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=Scrum.png" alt="">
<p>Scrum</p>

</div>



<div class="skillsgrowth">
    <img class="old-image" src="/assets/img-skillset/Property 1=GrowthMindset.png" alt="">
    <img class="new-image" src="/assets/img-skillset/Group 18.png" alt="">
    <p>Growthmindset</p>
</div>



</div>

</div>

</section>