.skill-set {
    background-image: url('/assets/img-skillset/19. Skill set Background.png');
    height: 900px;
  width: 100%; /* Verwende 100% anstelle einer festen Breite */
  max-width: 1920px; /* Optional, um eine maximale Breite festzulegen */
 
  margin: 0 auto; /* Zentriert den Inhalt */
    background-size: cover; /* Hintergrund wird vollständig angezeigt */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.left-section {
  
    >p {
        font-family: "Karla", sans-serif;
        color: #3DCFB6;
        font-size: 24px;
       
    }
}



.technologies {
    padding: 20px;
    height: auto;
    width: 460px;
    background-color: rgba($color: #0e3931, $alpha: 0.6) ;
    border-radius: 20px;
    border: 1px solid #3DCFB6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 40px;


    >h1 {
        font-family: "Fira Code", monospace;
        font-size: 64px;
        color: #3DCFB6;
        margin-top: 0;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    >p {
        font-family: "Karla", sans-serif;
        color: white;
        line-height: 21.6px;
        font-size: 18px;
       
    }

    >h2 {
        font-family: "Fira Code", monospace;
        font-size: 24px;
        white-space: wrap;
       width: 500px;
    }



    >span {
        width: 290px;
        color: white;
        font-family: "Karla", sans-serif;
        line-height: 19px;
      
    }
    

}


.white-text {
    color: white; /* Weiß für "You need" */
    margin-right: 10px;
}

.green-text {
    color: #3DCFB6; /* Grün für "another skill" */
}


.button-name {
    margin-top: 40px;
    font-family: "Karla", sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 102px;
    border-radius: 100px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s ease; /* Übergang für sanfte Animation */
    display: inline-block; 
    text-decoration: none;
    text-align: center;
}

.button-name:hover {
    cursor: pointer;
    border: 1px solid #3DCFB6;
    color: #3DCFB6;
    transform: translateY(-2px); 
}


.right-section {
    height: 450px;
    width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
   

   
}


.skills {
height: 104px;
width: 116px;
margin-left: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

>img {
   
    transition: 0.5s;
        }

    >img:hover {
     transform: scale(1.1);
    }

    >p {
        text-align: center;
        color: white;
        font-family: "Fira Code", monospace;
    }
}


.skillsmaterial {
    height: 104px;
width: 116px;
margin-left: 30px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

    >img {
margin-top: 15px;
transition: 0.5s;
    }

    >img:hover {
        transform: scale(1.1);
       }



    >p {
        text-align: center;
        color: white;
        font-family: "Fira Code", monospace;
    }
}

.skillsgrowth {
    height: 104px;
    width: 116px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Notwendig für das absolute Positionieren des neuen Bildes */
}

.skillsgrowth .old-image {
    transition: transform 0.3s ease; /* Übergang für das Vergrößern */
    z-index: 1; /* Das alte Bild liegt unter dem neuen Bild */
}

.skillsgrowth .new-image {
    position: absolute; /* Absolut positioniert, damit es über dem alten Bild liegt */
    top: -120px;
    left: 5px;
    opacity: 0; /* Unsichtbar, bis man über das alte Bild fährt */
    z-index: 2; /* Über dem alten Bild */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Übergang für Einblenden und Skalierung */
}

.skillsgrowth:hover .old-image {
    transform: scale(1.1); /* Das alte Bild wird beim Hover vergrößert */
}

.skillsgrowth:hover .new-image {
    opacity: 1; /* Das neue Bild wird beim Hover eingeblendet */
    transform: scale(1.1); /* Das neue Bild wird ebenfalls vergrößert */
}

/* Farbe von <p> ändern, wenn über das gesamte .skillsgrowth-Element gehovt wird */
.skillsgrowth:hover > p {
    color: #3DCFB6; /* Ändert die Farbe von <p> beim Hover auf das Bild oder den Container */
}

.skillsgrowth > p {
    text-align: center;
    color: white;
    font-family: "Fira Code", monospace;
    transition: 1s; /* Sanfter Übergang bei der Farbänderung */
}


.comp-section {
    width: 1920px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 1360px) {
    .right-section {
        height: 450px;
        width: 600px;
    
        flex-wrap: wrap;
    
       
    }
    
}


@media (max-width: 1210px) {
    .comp-section {
        width: 1920px;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .skill-set {
        background-image: url('/assets/img-skillset/19. Skill set Background.png');
        height: 1600px;
    }

    .right-section {
        height: 650px;
        width: 660px;
        display: flex;
    align-items: center;
    justify-content: center;
        flex-wrap: wrap;
    
       
    }


    .skills  {
        margin-left: 0px;
        padding: 20px;
     margin-bottom: 20px;
    }

    .skillsmaterial {
        margin-bottom: 20px;
    }


    .technologies {
        margin-bottom: 100px;
    }
}


@media (max-width: 695px) {
    .right-section {
        height: 950px;
        width: 600px;
    }

    .skill-set {
        background-image: url('/assets/img-skillset/19. Skill set Background.png');
        height: 1600px;
        margin-bottom: 170px;
    }

}

@media (max-width: 645px) {

    .skill-set {
        background-image: url('/assets/img-skillset/19. Skill set Background.png');
        height: 1600px;
        margin-bottom: 170px;
    }


    .skills {
        height: 104px;
        width: 116px;
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .right-section {
        height: 950px;
        width: 500px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
       
    
       
    }

    .skillsmaterial {
        height: 104px;
    width: 116px;
    padding: 20px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }    

    .skillsgrowth {
        height: 104px;
        width: 116px;
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative; /* Notwendig für das absolute Positionieren des neuen Bildes */
    }

    .technologies {
        margin-bottom: 100px;
        width: 460px;
        height: auto;

    }

}



@media (max-width: 550px) {

    .skill-set {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('/assets/img-skillset/19. Skill set Background.png');
        height: 1500px;
        margin-bottom: 0px;
    }

.right-section {
    width: 400px;

   
}


    .technologies {
        margin-bottom: 100px;
        width: 300px;
        height: auto;

        >h1 {
            font-size: 44px;
        }

        >h2 {
            width: 300px;

        }
    }

    .skills {
       
            height: 84px;
            width: 86px;
            margin-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
       
    >img {
        height: 40px;
        width: 40px;
    }
       
    }

    .skillsmaterial {
        height: 84px;
        width: 86px;
   
        >img {
            width: 40px;
            height: 40px;
    margin-top: 15px;
    transition: 0.5s;
        }       
    }

    .skillsgrowth {
        height: 84px;
        width: 86px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative; 
        
       
    }


    .new-image {
        position: absolute; /* Absolut positioniert, damit es über dem alten Bild liegt */
        top: -120px;
        left: 200px;
        height: 140px;
        width: 150px;
    }

    .old-image {
     
        height: 40px;
        width: 40px;
    }


    
}


@media (max-width: 430px) { 
    .technologies {
        margin-bottom: 100px;
        width: 250px;
        height: auto;

        >span  {
            width: 250px;
        }

        >h1 {
            font-size: 34px;
        }

        >h2 {
            font-size: 20px;
        }
    }

    .right-section {
        width: 260px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .skill-set {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-image: url('/assets/img-skillset/19. Skill set Background.png');
        height: 1800px;
        margin-bottom: 0px;
    }
}





@media (max-width: 360px) { 
    .technologies {
        margin-bottom: 100px;
        width: 210px;
        height: auto;

        >span  {
            width: 230px;
        }

        >h1 {
            font-size: 30px;
        }

        >h2 {
            font-size: 18px;
            width: 200px;
        }
    }

    .right-section {
        width: 260px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    

    .skillsgrowth {
        height: 84px;
        width: 86px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative; 
        
      
    }

    


    .new-image {
        position: absolute; /* Absolut positioniert, damit es über dem alten Bild liegt */
        top: -120px;
        left: 200px;
        height: 140px;
        width: 150px;
    }

    .old-image {
     
        height: 40px;
        width: 40px;
    }
}