<section class="skill-set">


<div class="left-section">  
<p> Technologies</p>
<div class="technologies">
    <h1>Skill Set</h1>

    <p>
        My journey has involved working on diverse projects, employing a range of frontend technologies and concepts. I am open to embracing new technologies and methodologies to Continously enhance my skills and stay ahead in the ever-evolving landscape of web development.
    </p>

    <h2>
        <span class="white-text">You need</span> <span class="green-text">another skill?</span>
    </h2>
    

    <span>
        Feel free to contact me. I look forward to expanding on my previous knowledge.
    </span>


    <button  class="button-name">Let's Talk</button>


</div>

</div>  


<div class="right-section">


<div class="skills">

        <img src="/assets/img-skillset/Property 1=HTML.png" alt="">
        <p>HTML</p>
        
</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=CSS.png" alt="">
<p>CSS</p>

</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=JavaScript.png" alt="">
<p>JavaScript</p>

</div>


<div class="skillsmaterial">

<img src="/assets/img-skillset/Property 1=Material Design.png" alt="">
<p>Material Design</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=TypeScript.png" alt="">
<p>TypeScript</p>

</div>


<div class="skills">

<img src="/assets/img-skillset/Property 1=Angular.png" alt="">
<p>Angular</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=Firebase.png" alt="">
<p>Firebase</p>

</div>



<div class="skills">

<img src="/assets/img-skillset/Property 1=Git.png" alt="">
<p>GIT</p>

</div>




<div class="skills">

<img src="/assets/img-skillset/Property 1=Rest-Api.png" alt="">
<p>Rest-Api</p>

</div>

<div class="skills">

<img src="/assets/img-skillset/Property 1=Scrum.png" alt="">
<p>Scrum</p>

</div>



<div class="skillsgrowth">
    <img class="old-image" src="/assets/img-skillset/Property 1=GrowthMindset.png" alt="">
    <img class="new-image" src="/assets/img-skillset/Group 18.png" alt="">
    <p>Growthmindset</p>
</div>



</div>

</section>